.divNavbar header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
}
.divNavbar header .menu-container .searchBox {
    height: 40px;
    display: flex;
    cursor: pointer;
    padding: 10px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 5px gray;
}
.divNavbar header .menu-container .searchBox#active input {
    width: 400px;
}
.divNavbar header .menu-container .searchBox input {
    width: 0;
    height: 100%;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.divNavbar header .menu-container .searchBox svg {
    color: var(--move-color);
    font-size: 18px;
}
.divNavbar header .imgUser {
    z-index: 1000;
    position: relative;
    cursor: pointer;
}
.divNavbar header img {
    border-radius: 50%;
    height: 40px;
}
.divNavbar .logo {
    width: 300px;
}
.divNavbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
.divNavbar ul li a {
    text-decoration: none;
    color: inherit;
}
.divNavbar .hamburger-react {
    z-index: 1000;
}
.divNavbar ul li a:hover,
.divNavbar .hamburger-react:hover {
    cursor: url(../../../images/pointer.png), auto !important;
}
.divNavbar .divNavbar-nav {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #f5f5f5;
    z-index: 999;
    align-items: center;
    gap: 180px;
    display: flex;
    justify-content: center;
}

@media (max-width: 1200px) {
    .navbar #notOpen {
        gap: 250px;
    }
    .navbar #open {
        gap: 250px;
    }
}
@media (max-width: 1090px) {
    .divNavbar .divNavbar-nav {
        gap: 110px;
    }
}
@media (max-width: 991px) {
    .divNavbar .divNavbar-nav {
        gap: 50px;
    }
    .divNavbar .logo {
        width: 250px;
    }
}
@media (max-width: 767px) {
    .divNavbar .divNavbar-nav {
        gap: 0;
    }
    .divNavbar .logo {
        width: 200px;
    }
    .divNavbar header {
        padding: 5px 25px;
    }
}
@media (max-width: 575px) {
    .divNavbar .divNavbar-nav {
        gap: 50px;
        flex-direction: column !important;
    }
    .divNavbar .logo {
        width: 200px;
    }
    .divNavbar header {
        padding: 5px;
    }
}


.nav_active {
    font-weight: 700 !important;
    color: var(--move-color) !important;
}



/* dropdown-menu user */
.dropdownMenuUser{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000b0;
    display: none;
}
.dropdownMenuUser.active {
    display: block;
}
.dropdownMenuUser ul {
    display: block;
    line-height: 40px;
    position: relative;
    right: 51px;
    top: 65px;
    align-items: center;
}
.dropdownMenuUser ul a {
    text-decoration: none;
    color: inherit;
}
.dropdownMenuUser ul .dropdownItem {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    text-align: center;
    margin-bottom: 5px;
}
.dropdownMenuUser ul .dropdownItem span {
    color: var(--White-color);
    font-size: 12px;
    opacity: 0;
    transition: all 1s;
}
.dropdownMenuUser ul .dropdownItem:hover span {
    opacity: 1;
}
.dropdownMenuUser ul .dropdownItem p {
    background-color: #fff;
    border-radius: 50%;
    width: 38px;
}


/* .searchModal {
    background-color: #f5f5f5c7;
} */
.searchModal div {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchModal .inputSearch {
    width: 80%;
    height: 100%;
    box-shadow: 0 0 5px #fff;
    border: none;
    padding: 0 15px;
}
.searchModal .inputSearch:focus {
    outline: none !important;
}
.searchModal .btnSearch {
    width: 20%;
    height: 100%;
    border: none;
    background-color: var(--move-color);
    color: var(--White-color);
    cursor: url(../../../images/pointer.png), auto !important;
}